In [1]:
import pandas as pd

In [2]:
import env

In [3]:
import os

In [4]:
import acquire

In [5]:
from acquire import get_telco_data

In [6]:
def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [7]:
df = get_telco_data()

In [8]:
df.head()

,Unnamed: 0,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,0,2,1,1,0003-MKNFE,Male,0,No,No,9,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
1,1,4,1,1,0013-MHZWF,Female,0,No,Yes,9,...,Yes,Yes,Yes,Yes,69.4,571.45,No,Month-to-month,DSL,Credit card (automatic)
2,2,1,1,1,0015-UOCOJ,Female,1,No,No,7,...,No,No,No,Yes,48.2,340.35,No,Month-to-month,DSL,Electronic check
3,3,1,1,1,0023-HGHWL,Male,1,No,No,1,...,No,No,No,Yes,25.1,25.1,Yes,Month-to-month,DSL,Electronic check
4,4,3,1,1,0032-PGELS,Female,0,Yes,Yes,1,...,No,No,No,No,30.5,30.5,Yes,Month-to-month,DSL,Bank transfer (automatic)

In [9]:
import prepare

In [10]:
from prepare import prep_telco

In [11]:
df = prep_telco(df)

In [12]:
df.head()

,customer_id,senior_citizen,tenure,online_backup,monthly_charges,total_charges,male,partner,dependents,phone_service,...,streaming_tv,streaming_movies,paperless,churn,one_year,two_year,fiber_optic,credit_card,electric_check,mailed_check
0,0003-MKNFE,0,9,No,59.9,542.40,1,0,0,1,...,0,1,0,0,0,0,0,0,0,1
1,0013-MHZWF,0,9,No,69.4,571.45,0,0,1,1,...,1,1,1,0,0,0,0,1,0,0
2,0015-UOCOJ,1,7,No,48.2,340.35,0,0,0,1,...,0,0,1,0,0,0,0,0,1,0
3,0023-HGHWL,1,1,No,25.1,25.10,1,0,0,0,...,0,0,1,1,0,0,0,0,1,0
4,0032-PGELS,0,1,No,30.5,30.50,0,1,1,0,...,0,0,0,1,0,0,0,0,0,0

In [21]:
from prepare import split

In [22]:
train, validate, test = split(df)

In [23]:
train.head()

,customer_id,senior_citizen,tenure,online_backup,monthly_charges,total_charges,male,partner,dependents,phone_service,...,streaming_tv,streaming_movies,paperless,churn,one_year,two_year,fiber_optic,credit_card,electric_check,mailed_check
5670,2739-CCZMB,0,5,No internet service,20.35,122.00,1,0,1,1,...,0,0,0,0,0,0,0,1,0,0
4152,8035-PWSEV,0,6,No,89.25,487.05,0,0,0,1,...,0,1,1,0,0,0,1,0,1,0
4890,6250-CGGUN,0,54,No,84.40,4484.05,1,0,0,1,...,0,0,0,0,1,0,1,0,1,0
2391,9499-XPZXM,0,72,Yes,64.75,4804.75,0,1,0,1,...,0,0,0,0,0,1,0,0,0,0
2896,2305-MRGLV,0,28,No,76.55,2065.40,1,1,0,1,...,0,0,0,0,0,0,1,0,0,0

In [24]:
train.shape

(3943, 26)

In [25]:
validate.head()

,customer_id,senior_citizen,tenure,online_backup,monthly_charges,total_charges,male,partner,dependents,phone_service,...,streaming_tv,streaming_movies,paperless,churn,one_year,two_year,fiber_optic,credit_card,electric_check,mailed_check
611,4958-GZWIY,0,7,No,48.70,340.25,1,1,1,1,...,0,0,0,1,0,0,0,0,1,0
4449,9576-ANLXO,0,3,No,69.55,222.30,0,0,0,1,...,0,0,1,1,0,0,1,0,0,0
4871,5802-ADBRC,0,50,No,104.40,5232.90,0,1,0,1,...,1,1,1,0,1,0,1,0,0,1
5889,6979-TNDEU,0,8,No internet service,19.20,156.85,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
432,3668-QPYBK,0,2,Yes,53.85,108.15,1,0,0,1,...,0,0,1,1,0,0,0,0,0,1

In [26]:
validate.shape

(1691, 26)

In [27]:
test.head()

,customer_id,senior_citizen,tenure,online_backup,monthly_charges,total_charges,male,partner,dependents,phone_service,...,streaming_tv,streaming_movies,paperless,churn,one_year,two_year,fiber_optic,credit_card,electric_check,mailed_check
3160,3420-YJLQT,0,2,Yes,79.55,151.75,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0
1592,6543-JXSOO,0,23,Yes,57.75,1282.85,0,1,1,1,...,0,0,1,0,1,0,0,0,0,1
5824,5577-OTWWW,0,15,No internet service,19.75,297.30,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
3866,6646-JPPHA,1,14,Yes,78.85,1043.80,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0
714,5759-RCVCB,0,3,No,35.20,108.95,0,0,0,0,...,1,0,0,1,0,0,0,1,0,0

In [28]:
test.shape

(1409, 26)