In [1]:
import pandas as pd

In [2]:
import env

In [3]:
import os

In [4]:
import acquire

In [5]:
from acquire import get_telco_data

In [6]:
def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [7]:
df = get_telco_data()

In [8]:
df.head()

,Unnamed: 0,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,0,2,1,1,0003-MKNFE,Male,0,No,No,9,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
1,1,4,1,1,0013-MHZWF,Female,0,No,Yes,9,...,Yes,Yes,Yes,Yes,69.4,571.45,No,Month-to-month,DSL,Credit card (automatic)
2,2,1,1,1,0015-UOCOJ,Female,1,No,No,7,...,No,No,No,Yes,48.2,340.35,No,Month-to-month,DSL,Electronic check
3,3,1,1,1,0023-HGHWL,Male,1,No,No,1,...,No,No,No,Yes,25.1,25.1,Yes,Month-to-month,DSL,Electronic check
4,4,3,1,1,0032-PGELS,Female,0,Yes,Yes,1,...,No,No,No,No,30.5,30.5,Yes,Month-to-month,DSL,Bank transfer (automatic)

In [9]:
import prepare

In [10]:
from prepare import prep_telco

In [12]:
df = prep_telco(df)

In [13]:
df.head()

,customer_id,senior_citizen,tenure,online_backup,monthly_charges,total_charges,male,partner,dependents,phone_service,...,streaming_tv,streaming_movies,paperless,churn,one_year,two_year,fiber_optic,credit_card,electric_check,mailed_check
0,0003-MKNFE,0,9,No,59.9,542.40,1,0,0,1,...,0,1,0,0,0,0,0,0,0,1
1,0013-MHZWF,0,9,No,69.4,571.45,0,0,1,1,...,1,1,1,0,0,0,0,1,0,0
2,0015-UOCOJ,1,7,No,48.2,340.35,0,0,0,1,...,0,0,1,0,0,0,0,0,1,0
3,0023-HGHWL,1,1,No,25.1,25.10,1,0,0,0,...,0,0,1,1,0,0,0,0,1,0
4,0032-PGELS,0,1,No,30.5,30.50,0,1,1,0,...,0,0,0,1,0,0,0,0,0,0